# System/user files
.bash_history
.bash_logout
.bashrc
.profile
.cache/
.local/
.ssh/
.sudo_as_admin_successful
.viminfo

# Claude Code internals
.claude/
.claude.json

# NPM/misc
.npm/
.lesshst

# Sensitive files
.env
*.env
.sample_analyzer_env
.sentinel_state.json
.ml_sentinel_state.json
.sample_analyzer_state.json
.outlook_sentinel_state.json
.outlook_token_cache.json
.gitconfig
reported_ips.txt
abuseipdb.log
misp/.env
opencti/.env
sample_staging/
.honeytokens/
.aws/
.openvpn/
.bitcoin/
database.yml
projects/.env*
Documents/passwords.txt
reports/
soc-portal/img/

# Logs
*.log
cowrie_sentinel.log

# Data/temp
elk/esdata/
sentinel_alerts/
ml_models/
gridpot_build/
suricata.json
suricata.json.save
suricata_sample.json
fields.json
populated-fields.txt
test.txt

# Node
node_modules/
package-lock.json

# Docker
*.tar.gz

# Python
__pycache__/
*.pyc

# Editor
.python_history
.selected_editor
